
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Skill India</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
<!-- <style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style> -->
</head>

<body>
  <!-- Page Content
    ================================================== -->

  <!-- Header -->
  
  <!-- #header -->


  
  <!-- Parallax -->

  
  <!-- /About -->
  
</body>
</html>
