
	<!-- Header -->
	<header id="header">
		<div class="container">

			<div id="logo" class="pull-left">
				<a routerLink="/homepagebody"><img src="./assets/Bootstrap/img/National.png"
					width="200" height="250" alt="" title=""></a>
			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li><a routerLink="/homepagebody">Home</a></li>

					<li class="menu-has-children"><a routerLink="/candidate/login">Candidate</a>
						<ul>
							<li><a routerLink="/candidate/registration">Candidate Register</a></li>
							<li><a routerLink="/candidate/login">Candidate Login</a></li>
						</ul></li>

					<li class="menu-has-children"><a routerLink="/establishment/login">Establishment</a>
						<ul>
							<li><a routerLink="/establishment/registration">Establishment Register</a></li>
							<li><a routerLink="/establishment/login">Establishment Login</a></li>
						</ul></li>
				</ul>

				<ul class="nav-menu">
					<li><a routerLink="/add/course">Course Form</a></li>
				</ul>
				<ul class="nav-menu">
					<li><a routerLink="/search/Establishment">Search</a></li>
				</ul>
        <ul class="nav-menu">
					<li><a routerLink="/admin/login">Admin</a></li>
				</ul>

				<ul class="nav-menu"> <li><span class="icon help"></span>
					 <a id="linkFAQ" href="http://www.apprenticeship.gov.in/Material/NCVT_MIS_FAQ.pdf" target="_blank">FAQ</a>
						   </li>
					</ul>
			</nav>
			<!-- #nav-menu-container -->

			<nav class="nav social-nav pull-right d-none d-lg-inline">
				<a href="https://twitter.com/MSDESkillIndia"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/SkillIndiaOfficial/"><i class="fa fa-facebook"></i></a> <a href="https://in.linkedin.com/company/skill-development-india"><i class="fa fa-linkedin"></i></a> <a href="https://www.outlook.com"><i class="fa fa-envelope"></i></a>
			</nav>
		</div>
	</header>

    <router-outlet></router-outlet>
