
    <!-- Form Heading -->
        <h1><b><mark>Candidate Login</mark></b></h1><br>

   <!-- Header -->

  <section class="bcg" class="container" style="padding-top: 20px;">
    <form [formGroup]="candidateLoginForm" (ngSubmit)="onSubmit()" class="container">
  <div  align="center">
      <!-- Form Fields -->

      <!-- Candidate -->
      <div class="form-group col-md-4" >
        <label class="control-label" for="username">User Name</label>
        <div class="input-group" style="z-index: 0;">
          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
        </div>
      </div>

      <!-- Password  -->

      <div class="form-group col-md-4" >
        <label class="control-label" for="password">Password</label>
        <div class="input-group" style="z-index: 0;">
          <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        </div>
      </div>


     <!--  <div class="form-group col-md-4">
          <label class="control-label">Login as:</label>
          <div class="input-group" style="z-index: 0;">
            <span class="input-group-addon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
            <select name="loginAs" class="form-control">
              <option value="candidate">Candidate</option>
              <option value="Establishment">Establishment</option>
            </select>
          </div>
        </div> -->
	  <a href="ForgotPsCan.html">Forgot Password</a>
	  <br/>
	  
<!--       <p style="text-align: center"><a href="EstablishmentRegistration.html">Register as an Establishment</a></p>
 -->
        <!-- Submit button -->

       <div class="form-group col-md-4" style="padding: 0;">
          <label class="control-label"></label>
          <div>
            <button [disabled]="loading" class="btn-primary form-control" style="border-radius:10px; ">
            LOGIN <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>
        </div>
        <p style="text-align: center;">New User?</p>
      <p style="text-align: center;"><a routerLink="/candidateregistration">Register as a Candidate</a></p>
</div>

    </form>
  </section>