
	<!-- Header -->
	<header id="header">
		<div class="container">

			

		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li><a routerLink="/add/course">Enter Course</a></li>   <!--route to Enter course details-->
			</ul>
			<ul class="nav-menu">
				<li><a href="listcourses">View Courses</a></li> <!--route to courseList-->
			</ul>
		</nav>
			<!-- #nav-menu-container -->

			<nav class="nav social-nav pull-right d-none d-lg-inline">
				<ul class="nav navbar-nav navbar-right">

					<li><a href="logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- #header -->

	<!-- About -->

	<section class="container" style="padding-top: 20px;">
		<form class="container">

			<br>
			<div class="form-group">
				 <label class="control-label"></label><br>  <!-- ${est.name} -->
 <label class="control-label">Profile Status: </label>{{username}}<br>				<!--${est.status} -->
					
				
				 <label class="control-label">Registration Number:  </label>  	<!--${est.estRegNo} -->
				
			</div>

			<p>Application Status:</p>
			<!-- TO BE FILLED BY DB VALUES -->
			

			<button (click)="fetchEstablishment()"> Show all Establishments </button>


			<div class="form-row" style="margin: 0 auto;">
				<div class="form-group col-md-12" style="padding: 0;">
					<label class="control-label"></label>

					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>

								
								<th>Candidate Name</th>
						
								<th>Candidate DOB</th>
								<th>Candidate Contact Number</th>
								<th>Candidate Qualification</th>
								<th>Candidate Marks</th>
							</tr>
						</thead>
						<tbody>

								<tr *ngFor="let est of establishment">
									<td>{{est.estId}}</td>
									<td>{{est.estUserId}}</td>
									<td>{{est.estUserPassword}}</td>
									<td>{{est.estName}}</td>
									<td>{{est.estContactNumber}}</td>
									<td>{{est.estType}}</td>
									<td>{{est.estRegNo}}</td>
									<td>{{est.estEmail}}</td>
									<td>{{est.estWorkingDays}}</td>
									<td>{{est.domain}}</td>
									<td>{{est.estAppStatus}}</td>
									<td>{{est.estBankDetails}}</td>
									<td>{{est.estAddress}}</td>
					
								</tr>

						</tbody>
					</table>

				</div>
				<br />

			</div>

		</form>
	</section>

