
	<!-- Form Heading -->
		<h1>
			<b><mark>Establishment Registration Form</mark></b>
		</h1>
	<br>
	

	<section class="bcg" class="container" style="padding-top: 20px;">
		<form class="container" [formGroup]="EstablishmentRegistrationForm" (ngSubmit)="onSubmit(EstablishmentRegistrationForm)">

			<div align="left"><b><h5>Establishment Details:</h5></b></div>
			<hr style="margin: 10px 0px;">
			<!--Establishment Name -->
			<div class="form-group">
				<div align="left"><label class="control-label">Establishment Name</label>
					<font style="color: red;">*</font></div>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-university"
						aria-hidden="true"></i></span> 
						<input name="estName" formControlName="estName" [ngClass]="{ 'is-invalid': submitted && f.estName.errors }"
						placeholder="Establishment Name" class="form-control"
						maxlength="30" type="text" required="required"
						title="Enter the Establishment name">
						<div *ngIf="submitted && f.estName.errors" class="invalid-feedback">
							<div *ngIf="f.estName.errors.required">Establishment Name is required</div>
							</div>
				</div>
			</div>

			<!-- Email Id -->
			<div class="form-row">
			<div class="form-group col-md-6">
				<div align="left"><label class="control-label">E-Mail ID</label><font
					style="color: red;">*</font></div>
				<div class="input-group">
					<span class="input-group-addon"><i
						class="fa fa-paper-plane-o" aria-hidden="true"></i></span>
						<input name="estEmail" formControlName="estEmail" [ngClass]="{ 'is-invalid': submitted && f.estEmail.errors }"
						placeholder="Email ID" class="form-control"
						type="email" title="Enter correct e-Mail ID" required >
						<div *ngIf="submitted && f.estEmail.errors" class="invalid-feedback">
							<div *ngIf="f.estEmail.errors.required">E-Mail ID is required</div>
							</div>
				</div>
				<div align="left"><font size="0.2px" color="grey">(We'll occasionally send updates about your account to this inbox.We'll never share your email address with anyone.)</font></div>
			</div>
		</div>

			<!-- Password & Confirm Password (on the same row) -->
			<div class="form-row">
				<div class="col-md-6 form-group">
					<div align="left"><label class="control-label">Password</label><font
						style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
						<span class="input-group-addon"><i class="fa fa-unlock-alt"
							aria-hidden="true"></i></span>
							<input id="password" name="estUserPassword"
							formControlName="estUserPassword" [ngClass]="{ 'is-invalid': submitted && f.estUserPassword.errors }"
							placeholder="Password" class="form-control" required="required"
							type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
							title="Password Should be at least 8 characters long and must contain at least one character in Upper Case, Lower Case, Numerical Form, and a Special Character.">
							<div *ngIf="submitted && f.estUserPassword.errors" class="invalid-feedback">
								<div *ngIf="f.estUserPassword.errors.required">Password is required</div>
								</div>
					</div>
					<div align="left"><font size="0.2px" color="grey">(Password Should be at least 8 characters long and must contain at least one character in Upper Case, Lower Case, Numerical Form, and a Special Character.)</font></div>
				</div>


				   <div class="col-md-6 form-group">
							<div align="left"><label class="control-label" >Confirm Password</label><font style= "color:red;">*</font></div>
          		<div class="input-group" style="z-index: 0;">
            		<span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
								<input id="confirmPassword" name="confPassword" placeholder="Confirm Password" 
								formControlName="estConfPassword" [ngClass]="{ 'is-invalid': submitted && f.estConfPassword.errors }"
								class="form-control" required="required" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onkeyup="validate()" 
								title="Password Should be at least 8 characters long and must contain at least one character 
								in Upper Case, Lower Case, Numerical Form, and a Special Character.">
								<div *ngIf="submitted && f.esConfPassword.errors" class="invalid-feedback">
									<div *ngIf="f.estConfPassword.errors.required">Password is required</div>
									</div>
							</div>
				
				</div>
				
			</div>

		<!-- Establishment type -->
			<div class="form-row">
				<div class="form-group col-md-6">
				<div align="left"><label class="control-label">Establishment Type</label> <font style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
						<span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
						<select name="estType" class="form-control" 	formControlName="estType" [ngClass]="{ 'is-invalid': submitted && f.estType.errors }" required>
							<option value="" disabled selected>--Select--</option>
							<option value="Central Government">Central Government</option>
							<option value="Central Public Sector Undertaking">Central Public Sector Undertaking</option>
							<option value="Private Sector">Private Sector</option>
							<option value="State Government">State Government</option>
							<option value="State Public Sector Undertaking">State Public Sector Undertaking</option>
							</select>
							<div *ngIf="submitted && f.estType.errors" class="invalid-feedback">
								<div *ngIf="f.estType.errors.required">Establishment Type is required</div>
								</div>
					</div>
				</div>
<!-- Establishment Domain -->
				<div class="form-group col-md-6">
					<div align="left"><label class="control-label">Establishment Domain</label> <font
						style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
						<span class="input-group-addon"><i
							class="fa fa-graduation-cap" aria-hidden="true"></i></span> 
							<select name="estDomain" class="form-control" 	formControlName="estDomain" [ngClass]="{ 'is-invalid': submitted && f.estDomain.errors }">
								<option value="" disabled selected>--Select--</option>
								<option value="Manufacturing">Manufacturing</option>
								<option value="Services">Services</option>
								<option value="Trading">Trading</option>
								<option value="Other">Other</option>
						</select>
						<div *ngIf="submitted && f.estDomain.errors" class="invalid-feedback">
							<div *ngIf="f.estDomain.errors.required">Establishment Domain is required</div>
							</div>
					</div>
				</div>



				<!-- Number of Employees -->
				<div class="form-group col-md-6">
					<div align="left"><label class="control-label">Number of Employees</label><font
						style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
						<span class="input-group-addon"><i class="fa fa-users"
							aria-hidden="true"></i></span> 
							<input name="estTotalEmp" formControlName="estTotalEmp" [ngClass]="{ 'is-invalid': submitted && f.estTotalEmp.errors }"
							placeholder="Number of Employees" class="form-control" type="number"
							title="Enter value" required min="0" max="9999999">
							<div *ngIf="submitted && f.estTotalEmp.errors" class="invalid-feedback">
								<div *ngIf="f.estTotalEmp.errors.required">Number of Employees is required</div>
								</div>
					</div>
				</div>
			</div>

			<!-- Number of Working Days -->
			 <div class="form-row">
				<div class="form-group col-md-6">
					<div align="left"><label class="control-label">Working Days in a Week</label> <font
						style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
						<span class="input-group-addon"><i class="fa fa-calendar"
							aria-hidden="true"></i></span> 
							<select name="estWorkingDays" class="form-control" formControlName="estWorkingDays" [ngClass]="{ 'is-invalid': submitted && f.estWorkingDays.errors }"> 
							<option value="" disabled selected>--Select--</option>
							<option value="5">5 Days a week</option>
							<option value="6">6 Days a week</option>
						</select>
						<div *ngIf="submitted && f.estWorkingDays.errors" class="invalid-feedback">
							<div *ngIf="f.estWorkingDays.errors.required">Working Days in a Week is required</div>
							</div>
					</div>
				</div>
			</div> 

			<!--Name of Head -->
			<!-- <div class="form-group">
				<label class="control-label">Name of Head</label><font
					style="color: red;">*</font>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user"
						aria-hidden="true"></i></span> <input name="nameOfHead"
						placeholder="Name of Head" class="form-control" maxlength="30"
						pattern="[a-zA-Z]+" type="text" required="required"
						title="Enter the Establishment name">
				</div>
			</div> -->

			<!-- Contact Number -->
			<div class="form-row">
			<div class="form-group col-md-6">
				<div align="left"><label class="control-label">Contact Number</label><font
					style="color: red;">*</font></div>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-phone"
						aria-hidden="true"></i></span> 
						<input name="estContactNumber" formControlName="estContactNumber" [ngClass]="{ 'is-invalid': submitted && f.estContactNumber.errors }"
						placeholder="Contact Number" class="form-control"
						required="required" type="number" pattern="(7|8|9)\d{9}"
						maxlength="10"
						title="Contact number should be at least 10 digits and starting with 7, 8 or 9.">
						<div *ngIf="submitted && f.estContactNumber.errors" class="invalid-feedback">
							<div *ngIf="f.estContactNumber.errors.required">Contact Number is required</div>
							</div>
				</div>
			</div>
		</div>
<hr>
	<!-- Establishment Registration Number:Pending -->
	<div align="left"><b><h5>Bank Account Details:</h5></b></div>
	<hr style="margin: 10px 0px;">
			<!--BANK Name -->

			<div class="form-row">
			<div class="form-group col-md-6">
				<div align="left"><label class="control-label">Bank Name</label> <font
					style="color: red;">*</font></div>
				<div class="input-group" style="z-index: 0;">
					<span class="input-group-addon"><i class="fa fa-university"
						aria-hidden="true"></i></span>
						<select name="bankName" formControlName="bankName" [ngClass]="{ 'is-invalid': submitted && f.bankName.errors }"
						class="form-control" required="required"
						title="Enter the Bank name">
						<option value="" disabled selected>--Select--</option>
						<option value>SBI</option>
						<option value="HDFC">HDFC</option>
						<option value="Standard Chartered">Standard Chartered</option>
						<option value="PMC">PMC</option>
						<option value="SBI">SBI</option>
					</select>
					<div *ngIf="submitted && f.bankName.errors" class="invalid-feedback">
						<div *ngIf="f.bankName.errors.required">Bank Name is required</div>
						</div>
				</div>
			</div>

			<!-- Bank Branch -->
			<div class="form-group col-md-6">
				<div align="left">	<label class="control-label"> Branch Branch</label><font
						style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
						<span class="input-group-addon"><i class="fa fa-id-card-o"
							aria-hidden="true"></i></span> <input name="bankBranch" formControlName="bankBranch" [ngClass]="{ 'is-invalid': submitted && f.bankBranch.errors }"
							placeholder=" Branch Name" title="" maxlength="20" class="form-control"
							type="text" title=" Branch Name"  required>
							<div *ngIf="submitted && f.bankBranch.errors" class="invalid-feedback">
								<div *ngIf="f.bankBranch.errors.required">Branch Branch Name is required</div>
								</div>
					</div>
				</div>
			</div>

			 
			 <!-- IFSC Details  -->
			 <div class="form-row">
				 <div class="form-group col-md-6">
					<div align="left"><label class="control-label">IFSC Number</label>
						<font style="color: red;">*</font></div>
							<div class="input-group" style="z-index: 0;">
								<span class="input-group-addon"><i class="fa fa-id-card-o"
								aria-hidden="true"></i></span> <input name="IFSC" formControlName="IFSCCode" [ngClass]="{ 'is-invalid': submitted && f.IFSCCode.errors }"
								placeholder="IFSCCode" maxlength="11" class="form-control"
								required="required" type="text"
								pattern="^[A-Za-z]{4}[a-zA-Z0-9]{7}$" title="Enter IFSC Number.">
								<div *ngIf="submitted && f.IFSCCode.errors" class="invalid-feedback">
									<div *ngIf="f.IFSCCode.errors.required">IFSC Number is required</div>
									</div>
							</div>
				</div> 
			 </div>

				<!-- Account No. -->
				<div class="form-row">
	<div class="form-group col-md-6">
		<div align="left"><label class="control-label"> Account No.</label><font
						style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
						<span class="input-group-addon"><i class="fa fa-id-card-o"
							aria-hidden="true"></i></span> <input name="accountNumber" formControlName="accountNumber" [ngClass]="{ 'is-invalid': submitted && f.accountNumber.errors }"
							placeholder=" Account Number." title="Account Number should be atleast 9 digits long" maxlength="20" class="form-control"
							type="tel" title=" Account Number" pattern="[1-9].{9,}" required>
							<div *ngIf="submitted && f.accountNumber.errors" class="invalid-feedback">
								<div *ngIf="f.accountNumber.errors.required">Account No. is required</div>
								</div>
					</div>
				</div>
																		
	</div>

	<hr>
	<div align="left"><b><h5>Establishment Contact Details:</h5></b></div>
	<hr style="margin: 10px 0px;">
	
																		<!-- Address -->
			<div class="form-group">
				<div align="left"><label class="control-label">Address</label><font
					style="color: red;">*</font></div>
				<div class="input-group" style="z-index: 0;">
					<span class="input-group-addon"><i
						class="fa fa-location-arrow" aria-hidden="true"></i></span>
						<input name="localAddress" 
						formControlName="localAddress" [ngClass]="{ 'is-invalid': submitted && f.localAddress.errors }"
						maxlength="30"
						placeholder="Establishment Address" class="form-control"
						type="text" title="Enter Street Name with a minimum of 10 words." required>
						<div *ngIf="submitted && f.localAddress.errors" class="invalid-feedback">
							<div *ngIf="f.localAddress.errors.required"Address is required> </div>
							</div>
				</div>
			</div>


	<div class="form-row"> 

				<!-- State -->
		 	<div class="form-group col-md-6">
			<div align="left"><label class="control-label">State</label> <font style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
					<span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span> 
						<select name="addr.state"	class="form-control" 
						formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }"
						id="state-select" required>
								<option value="" disabled selected>--Select--</option>
								<option value="Maharashtra" >Maharashtra</option>
								<option value="Karnataka">Karnataka</option>
								<option value="Gujrat" >Gujrat</option>
						</select>
						<div *ngIf="submitted && f.state.errors" class="invalid-feedback">
							<div *ngIf="f.state.errors.required">State Name is required</div>
							</div>
					</div>
				</div> 
	</div>

	<div class="form-row"> 
				<!-- City -->
				<div class="form-group col-md-6">
					<div align="left"><label class="control-label">City</label> <font style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
						<span class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></span> 
							<select name="addr.city" class="form-control" id="city-select" 
							formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }"required>
											<option value="" disabled selected>--Select--</option>
											<option value="Mumbai">Mumbai</option>
											<option value="Pune">Pune</option>
											<option value="Nagpur">Nagpur</option>
											<option value="Ahmedabad">Ahmedabad</option>
											<option value="Vadodara">Vadodara</option>
											<option value="Surat">Surat</option>
											<option value="Bengaluru">Bengaluru</option>
											<option value="Mysore">Mysore</option>
						</select>
						<div *ngIf="submitted && f.city.errors" class="invalid-feedback">
							<div *ngIf="f.city.errors.required">City Name is required</div>
							</div>
					</div>
				</div>

				<!-- Zip -->
				<div class="form-group col-md-6">
					<div align="left"><label class="control-label">Pincode</label><font	style="color: red;">*</font></div>
					<div class="input-group" style="z-index: 0;">
						<span class="input-group-addon"><i
							class="fa fa-envelope-open-o" aria-hidden="true"></i></span> 
							<input formControlName="pincode" [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }"
							name="pincode" maxlength="6" placeholder="Pincode"
							class="form-control" type="text" pattern="[1-9][0-9]{5}" required="required"
							title="Pincode of 6 digits" required>
							<div *ngIf="submitted && f.pincode.errors" class="invalid-feedback">
								<div *ngIf="f.pincode.errors.required">Pincode is required</div>
								</div>
					</div>
				</div>
			</div> 


		<hr style="margin:25px 0px;">
		<div align="left"><h3>Document Upload</h3></div>
		<hr style="margin:10px 0px;">
	
			
		<!--Document Upload -->
		<div class="form-group">
				<div align="left"><label class="control-label">Upload Proof</label><font style= "color:red;">*</font></div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-files-o" aria-hidden="true"></i></span>
            <input class="form-control" name="files" type="file" required="required"  accept="image/*" (change)="onFileSelected($event)">
					</div>
					<button type="button" class="btn-primary mb-2" (click)="onUpload()">Upload</button>
				</div>
				
				<!-- <div>>
							<input type="file" class="form-control pad-3" accept="image/*" (change)="onFileSelected($event)">
						</div>
						<button type="button" class="btn-primary mb-2" (click)="onUpload()">Upload</button>
					</div> -->


			<!-- Submit button -->

			
		</form>
		<div align="center">
 <div class="form-group col-md-4" style="padding: 0;" >
        <label class="control-label"></label>
        <div>
          <button [disabled]="loading" class="btn-primary form-control" style="border-radius:10px; ">
          SUBMIT <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
      </div>
		</div>
	</section>
