

<div class="container">
    <img  [src]="homepageMain" width="100%">
</div>


<section class="about" id="about">
    <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="Bootstrap/img/backg.png" width="200" data-settings='{"stellar-background-ratio": 0.2}' data-toggle="parallax-bg">
    
    <h2>
        Welcome to Skill India
      </h2>

    <p>
      Skill India is an initiative of the Government of India which has been launched to empower the youth of the country with skill sets which make them more employable and more productive in their work environment.
      Our National Skill Mission is chaired by the Honourable Prime Minister, Shri Narendra Modi himself.<br/>
      India is a country today with 65% of its youth in the working age group. If ever there is a way to reap this demographic advantage, it has to be through skill development of the youth so that they add not only to their personal growth, but to the country economic growth as well. <br/>
      Skill India offers courses across 40 sectors in the country which are aligned to the standards recognised by both, the industry and the government under the National Skill Qualification Framework. <br/>
      The courses help a person focus on practical delivery of work and help him enhance his technical expertise so that he is ready for day one of his job and companies do not have to invest into training him for his job profile.
    </p>
    </div>
</section>
