<style>
  * {
      box-sizing: border-box;
  }




  body {
      font-family: Verdana, sans-serif;
  }

  .mySlides {
      display: none;
  }

  img {
      vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
  }

  /* Caption text */
  .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 2s ease;
  }

  .active {
      background-color: #717171;
  }

  /* Fading animation */
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 3.5s;
      animation-name: fade;
      animation-duration: 2.5s;
  }

  @-webkit-keyframes fade {
      from {
          opacity: .2
      }

      to {
          opacity: 1
      }
  }

  @keyframes fade {
      from {
          opacity: .2
      }

      to {
          opacity: 1
      }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
      .text {
          font-size: 11px
      }
  }



  .footer {
      width: 100%;
      background-color: black;
  }

  a {
      color: white;
      font-size: 15px;
  }

  body {
      font-family: Arial, Helvetica, sans-serif;
  }

  .navbar {

      overflow: hidden;
      background-color: #333;
  }

  .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  .dropdown {
      float: left;
      overflow: hidden;
  }


#footer{
  background-color: wheat;
}

  .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }

  .navbar a:hover,
  .dropdown:hover .dropbtn {
      background-color: red;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }

  .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }

  .dropdown-content a:hover {
      background-color: skyblue;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .jumbotron {
      background-color: aqua;
  }

  img {
      width: 100%;
      height: 400px;
  }

  .header {
      width: 100%;
      background-color: yellow;
  }


  .dd {
      position: relative;
      display: inline-block;
  }

  .dd-content {
      display: none;
      position: absolute;
      background-color: rgb(223, 116, 77);
      min-width: 180px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
  }

  .dd:hover .dd-content {
      display: block;
  }

  li {
      list-style-type: none;
  }
</style>

<div class="slideshow">

  <div class="mySlides fade">
      <img src="cover1.jpg" style="width:100%">
      <div class="text">Skill India</div>
  </div>

  <div class="mySlides fade">
      <img src="cover2.jpg" style="width:100%">
      <div class="text">Skill India</div>
  </div>

  <div class="mySlides fade">
      <img src="logo1.png" style="width:100%">
      <div class="text">Skill India</div>
  </div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>
    
    
    <script>
      var slideIndex = 0;
      showSlides();

      function showSlides() {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          slideIndex++;
          if (slideIndex > slides.length) { slideIndex = 1 }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex - 1].style.display = "block";
          dots[slideIndex - 1].className += " active";
          setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
  </script>


  <div class="container">
    <img  [src]="homepageMain" width="100%">
  </div>


<section class="about" id="about">
    <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="Bootstrap/img/backg.png" width="200" data-settings='{"stellar-background-ratio": 0.2}' data-toggle="parallax-bg">
    <h2>
        Welcome to Skill India
      </h2>

    <p>
      Skill India is an initiative of the Government of India which has been launched to empower the youth of the country with skill sets which make them more employable and more productive in their work environment.
      Our National Skill Mission is chaired by the Honourable Prime Minister, Shri Narendra Modi himself.<br/>
      India is a country today with 65% of its youth in the working age group. If ever there is a way to reap this demographic advantage, it has to be through skill development of the youth so that they add not only to their personal growth, but to the country economic growth as well. <br/>
      Skill India offers courses across 40 sectors in the country which are aligned to the standards recognised by both, the industry and the government under the National Skill Qualification Framework. <br/>
      The courses help a person focus on practical delivery of work and help him enhance his technical expertise so that he is ready for day one of his job and companies do not have to invest into training him for his job profile.
    </p>
    </div>
</section>
