
<title>Admin Dashboard</title>



	<!-- Header -->
	<header id="header">
		<div class="container">

			<div id="logo" class="pull-left">
				<a href="index.html"><img src="Bootstrap/img/National.png"
					width="200" height="150" alt="" title="" /></a>

			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">

					<li class="menu-has-children"><a routerLink="/admin/establishment/verification">Establishment
							Verification</a>
				</ul>
				<ul class="nav-menu">
					<li><a href="contract">Contract Verification</a></li>
				</ul>
				
			</nav>
		
		</div>
		<nav class="nav social-nav pull-right d-none d-lg-inline">
			<ul class="nav navbar-nav navbar-right">

				<li><a href="logout">Logout</a></li>
			</ul>
		</nav>
	</header>
    <!-- #header -->
    
    
	

	<div class="bcg">

        <!-- Form Heading -->

		<h1>
                <b><mark>Admin Dashboard</mark></b>
            </h1>

		<section>
			
				<h1>Welcome TO Skill India</h1>
			
		</section>
	</div>
