<section class="bcg" class="container" style="padding-top: 20px;">
  <!-- <form action="establishmentlogin" class="container" method="post" > -->
<form >
<div align="center">

    <h1><b><mark>Establishment Login</mark></b></h1>
    <!-- Form Fields -->
    <!-- Establisment UserId -->
    <div class="form-group col-md-4" >
      <div align="left"> <label class="control-label">Establishment UserID</label> </div>
      <div class="input-group" style="z-index: 0;">
        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
        <input name="estUserId" 
        [(ngModel)]="username"
        placeholder="User ID" class="form-control" required="required" type="text" title="">
      </div>
    </div>

    <!-- Password  -->
    
      <div class="form-group col-md-4">
        <div align="left"><label class="control-label" >Password</label> </div>
        <div class="input-group" style="z-index: 0;">
          <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
          <input name="estPassword" id="password" 
          [(ngModel)]="password"
          placeholder="Password" class="form-control"  required="required" type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
              title="Password Should be at least 8 characters long and must contain at least one character in Upper Case, Lower Case, Numerical Form, and a Special Character.">
        </div>
      </div>
     

   <!--  <div class="form-group col-md-4">
        <label class="control-label">Login as:</label> 
        <div class="input-group" style="z-index: 0;">
          <span class="input-group-addon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
          <select name="loginAs" class="form-control">
            <option value="candidate">Candidate</option>
            <option value="Establishment">Establishment</option>
          </select>
        </div>
      </div> -->
  <a href="#">Forgot Password?</a>
  <br/> 

                                   <!-- Forgot Password: Pending-->


<!-- Submit button -->
<div class="form-group col-md-4" style="padding: 0;">
  <label class="control-label"></label>
  <div>
    <button type="submit" class="btn-primary form-control" style="border-radius:10px; "
    (click)="login(mform)">
    LOGIN <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
  </div>
</div>
</div>

<br>
<p style="text-align: center;">New User?</p>
<p style="text-align: center;"><a routerLink="/establishmentregistration">Register as a Establishment</a></p>

  </form>
</section>